extends layout

block content
	div.container
		table.table.table-bordered.table-striped
			caption 動画一覧
			thead
				tr
					th(style='width:40px') #
					th(style='width:180px') タイトル
					th(style='width:200px') 詳細
					th(style='width:180px') ジャンル
					//- th(style='width:180px') html
					th 作成日
					if user.admin==1
						th(style='width:100px')
			tbody
			if movies!=undefined
				- for (var i = 0; i < movies.length; i++)
					tr
						td= i+1
						td
							a(href='/movies/'+movies[i]._id)= movies[i].title
						td= movies[i].detail
						td= movies[i].genre
						//- td= movies[i].html
						td= movies[i].created_at
						if user.admin==1
							td
								a(href='/movies/edit/'+movies[i]._id).btn 編集
								a(href='/movies/delete/'+movies[i]._id, onclick='return check()').btn.btn-danger 削除

	script function check(){ return (window.confirm('送信してよろしいですか？'))?true:false;}