extends layout

block content
	div.container
		table.table.table-bordered.table-striped
			thead
				tr
					th(style='width:40px') #
					th(style='width:180px') タイトル
					th(style='width:200px') 詳細
					th(style='width:180px') ジャンル
					//- th(style='width:180px') html
					th 作成日
					th
			tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td= i+1
					td
						a(href='/movies/'+accts[i]._id)= accts[i].title
					td= accts[i].detail
					td= accts[i].genre
					//- td= accts[i].html
					td= accts[i].created_at
					td
						a(href='/movies/edit/'+accts[i]._id) 編集 
						a(href='/movies/delete/'+accts[i]._id) 削除